<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>kaiyuan</title>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src='./map.js'></script>  


    <style>
      #map-canvas {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>  
</head>

<body class='container-fluid row'>
  <div ng-app='MapApp' ng-controller='MapCtrl'>
    <h1>
    客户端主页  {{currentTime | date:'dd-MMM-yyyy HH:mm:ss'}}
    </h1>

    User Longitude: <input type="number" name="userLongitude" ng-model="user.longitude"/>
    User Latitude: <input type="number" name="userLongitude" ng-model="user.latitude"/>

    <br>
    <button class="btn btn-info" ng-click="buttonClick()">可爱的按钮</button>
    ( {{ user.longitude }} , {{ user.latitude }} )
    <br>
    
    couriers:<br>
    <div ng-repeat="courier in couriers">
      {{ courier.id }}: ({{ courier.longitude }}, {{ courier.latitude }})
    </div>    

    <div id="map-canvas"></div>
  </div>


  <script>
    function initialize() {
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        center: new google.maps.LatLng(44.5403, -78.5463),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</body>

</html>